 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 508px;
}

.u-section-1 .u-icon-1 {
  width: 71px;
  height: 71px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 122px auto 0;
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 23px auto 0;
}

.u-section-1 .u-form-1 {
  height: 124px;
  width: 400px;
  margin: 11px auto 0;
}

.u-section-1 .u-input-1 {
  background-image: none;
  font-size: 1.25rem;
}

.u-section-1 .u-btn-1 {
  width: 100%;
  font-size: 1.25rem;
  background-image: none;
  font-weight: 700;
  border-style: solid;
  text-transform: none;
  padding: 10px 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 30px auto;
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 476px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 55px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 10px;
  }

  .u-section-1 .u-form-1 {
    height: 140px;
    margin-top: 30px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 29px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }
}